.App {
    text-align: center;
}


.grid-style {
    background-color: #192034;
    font-size: calc(10px + 2vmin);
    color: white;
}

.grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns:  190px auto;
    grid-template-rows: min-content min-content auto min-content;
    gap: 4px;
    margin: 0px 0px 0px 0px;
    grid-template-areas: 
    "icon header"
    "nav  nav"
    "content  content"
    "footer footer";
}

.icon {
    grid-area: icon;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.content {
    grid-area: content;
}

.nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    a {
        color: white;
    }
}


#mainArticle {
    img {
        pointer-events: none;
        object-fit: cover;
        width: 100%;
        max-height: 100%;
    }
}

.test-container{
    min-height: 100vh;
    display: grid;
    grid-template-columns:  190px auto;
    grid-template-rows: min-content min-content auto min-content;
    gap: 4px;
    margin: 0px 0px 0px 0px;
    grid-template-areas: 
    "icon header"
    "icon header"
    "nav  content"
    "footer footer";
}




.buttons-container{
    margin: 0px 0px 0px 10px;
    display: grid;
    grid-template-columns:  repeat(auto-fill, 178px );
    grid-template-rows: repeat(auto-fit, 178px );
    gap: 8px;
}

/*
    padding: 4px 4px -16px 4px;
    margin: 2px 0px 0px 0px;
 */
.pushable {
    background: hsl(340deg 100% 32%);
    border-radius: 12px;
    border-style: inset;
    transform: translateY(-10px);
}

/* 
    margin: 2px 0px 2px 0px;

 */
.front {
    display: block;
    border-radius: 12px;
    background: hsl(345deg 100% 47%);
    transform: translateY(-6px);
    border-style: ridge;
    img {
        margin: 4px 0px 0px 0px;
        width: auto;
        height: 128px;
        background-size: 128 128;
    }
    
}

.pushable:active .front {
    transform: translateY(-2px);
}

.front {
    color: white;
    font-size: 20px;

}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}