.App {
    text-align: center;
}


.grid-style {
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
    color: white;
}

.grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav article ads"
    "footer footer footer";
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: fit-content(25em) auto auto;
    grid-gap: 1px;
    margin: 0;
}

.test-container{
    min-height: 100vh;
    display: grid;
    grid-template-columns:  256px auto;
    grid-template-rows: min-content auto min-content;
    gap: 4px;
    margin: 0;
    div {
        background-color: gray;
    }
    grid-template-areas: 
    "icon header"
    "nav  content"
    "footer footer";
}
.test-icon {
    grid-area: icon;
}

.test-header {
    grid-area: header;
}

.test-main {
    grid-area: content;
}

.test-footer {
    grid-area: footer;
}



#pageHeader {
    grid-area: header;
}

#pageFooter {
    grid-area: footer;
}

#mainArticle {
    grid-area: article;
}

#mainNav {
    grid-area: nav;
    display: grid;
    grid-template-columns:  repeat(auto-fill, min-content) ;

    a {
        color: #FFF;
    }

    a:hover {
        color: #88F
    }
}

#siteAds {
    grid-area: ads;
}

#mainArticle {
    img {
        pointer-events: none;
        object-fit: cover;
        width: 100%;
        max-height: 100%;
    }
}
.buttons-container{
    display: grid;
    grid-template-columns:  repeat(auto-fill, 128px );
    grid-template-rows: repeat(auto-fit, 128px );
    gap: 8px;
    div {
        background-color: darkgray;
    }
}

/*
    padding: 4px 4px -16px 4px;
    margin: 2px 0px 0px 0px;
 */
.pushable {
    background: hsl(340deg 100% 32%);
    border-radius: 12px;
    border-style: inset;
    width: 100%;
    transform: translateY(-10px);
}

/* 
    margin: 2px 0px 2px 0px;

 */
.front {
    display: block;
    border-radius: 12px;
    background: hsl(345deg 100% 47%);
    transform: translateY(-6px);
    border-style: ridge;
    img {
        margin: 4px 0px 0px 0px;
        width: 60%;
        height: 60%;
    }
    
}

.pushable:active .front {
    transform: translateY(-2px);
}

.front {
    color: white;
    font-size: 20px;

}