.App {
    text-align: center;
}

.grid-style {
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
    color: white;
}

.grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav article ads"
    "footer footer footer";
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: fit-content(25em) auto auto;
    grid-gap: 1px;
    margin: 0;
}

.test-container{
    min-height: 100vh;
    display: grid;
    grid-template-columns:  128px auto;
    grid-template-rows: min-content auto min-content;
    gap: 4px;
    margin: 0;
    div {
        background-color: gray;
        img {
            width: 128px;
            max-height: 128px; 
        }
    }
    grid-template-areas: 
    "icon header"
    "nav  content"
    "footer footer";
}
.test-icon {
    grid-area: icon;
}

.test-header {
    grid-area: header;
}

.test-main {
    grid-area: content;
}

.test-footer {
    grid-area: footer;
}

.buttons-container{
    min-height: 100vh;
    display: grid;
    grid-template-columns:  repeat(8, 128px );
    grid-template-rows: repeat(8, 128px );
    gap: 4px;
    margin: 0;
    div {
        background-color: darkgray;
        img {
            width: 100%;
            height: auto;
        }
    }
}


#pageHeader {
    grid-area: header;
}

#pageFooter {
    grid-area: footer;
}

#mainArticle {
    grid-area: article;
}

#mainNav {
    grid-area: nav;
    display: grid;
    grid-template-rows: min-content;

    a {
        color: #FFF;
    }

    a:hover {
        color: #88F
    }
}

#siteAds {
    grid-area: ads;
}

#mainArticle {
    img {
        pointer-events: none;
        object-fit: cover;
        width: 100%;
        max-height: 100%;
    }
}

